
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nunito, sans-serif;
}

:root {
    /* font size */
    --font-size-14 : 0.875rem;
    --font-size-16 : 1.2rem;

    /* font weight */
    --300 : 300;
    --600 : 600;
    --800 : 800;

    /* colors */
    --white : #ffffff;
    --light-gray-l-mode : #fafafa;
    --dark-gray-l-mode : #6e6e6e;
    --dark-blue : #2b3945;
    --dark-blue-l-mode : #111517;
    --dark-blue-d-mode : #202c37;
}

body {
    background-color: var(--light-gray-l-mode);
}

img {
    width: 100%;
}

/* utility class */
.container {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* header section */
header {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.113)
}

.header-section {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
    min-height: 4rem;
    background-color: var(--white);
}

.header-text {
    font-size: var(--font-size-16);
    font-weight: var(--800);
}

.light-dark-mode span {
    font-weight: var(--600);
}

/* countries card */
.countries-card {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
}

.countries-card a {
    flex-direction: column;
}

.card {
    margin-top: 4rem;
    max-width: 250px;
    min-width: 250px;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
    padding-bottom: 1.2rem;
    border-radius: 15px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    transition: transform 0.1s ease-in-out;
    max-height: 315px;
    min-height: 315px;
}

.countries-card a img {
    max-height: 167px;
}

.card:hover {
    transform: scale(1.05);
}

.card-content {
    width: 80%;
    margin-left: 1.3rem;
    margin-top: 1.2rem;
}

.population {
    margin-top: 0.8rem;
}

.countries-name {
    font-weight: var(--800);
    font-size: var(--font-size-16);
}

.population,
.region,
.capital {
    font-size: var(--font-size-14);
    margin-bottom: 0.3rem;
}

.value {
    color: var(--dark-gray-l-mode);
}